body.splash {
    background: url(../img/movie_theatre.jpg) no-repeat center center;
    background-size: cover;
    background-color: #2b3e50;
}

.test-index {
    padding-top: 50px;
    position: relative;
    overflow: auto;
    font-size: 28px;
}

.test-news,
.test-concessions {
    padding-top: 50px;
    position: relative;
    overflow: auto;
    font-size: 28px;
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #2b3e50;
}

.intro-header h1,
.intro-header p {
    text-shadow: 1px 1px 10px #df6919;
}

#splash {
    top: -15px;
    position: relative;
}

th {
    font-size: large;
}

td {
    font-size: larger;
}

.Events {
    background-image: url(../img/under-construction.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#Contact h2 {
    text-indent: 50px;
}
